<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.doc.management.dao.DocFileMapper">
	
	<resultMap type="DocFileEntity" id="docFileResultMap">
		<id column="id" property="id" />
		<result column="parent_id" property="parentId" />
		<result column="file_name" property="fileName" />
		<result column="new_file_name" property="newFileName" />
		<result column="file_path" property="filePath" />
		<result column="is_Dir" property="isDir" />
		<result column="create_date" property="createDate" />
		<collection property="children" javaType="java.util.List" ofType="DocFileEntity" select="findAllDirFileList" column="id">
		</collection>
	</resultMap>
	
	<select id="findAllDirFileList" parameterType="Long" resultMap="docFileResultMap">
		SELECT * FROM doc_file_t where parent_id= #{id}
	</select>
	
	<select id="findDocFileList" resultType="com.doc.management.bean.DocFileEntity">
		SELECT * FROM doc_file_t
	</select>
	
	<select id="findDocFileById" parameterType="Long"
		resultType="com.doc.management.bean.DocFileEntity">
		SELECT * FROM doc_file_t WHERE id = #{id}
	</select>
	
	<insert id="insert" parameterType="com.doc.management.bean.DocFileEntity"
		useGeneratedKeys="true" keyProperty="id">
		insert into doc_file_t
		(
			parent_id,
			file_name,
			file_path,
			is_dir,
			create_date
		)
		values
		(
			#{parentId},
			#{fileName},
			#{filePath},
			#{isDir},
			now()
		)
	</insert>
	
	<delete id="delete" parameterType="Long">
		delete from doc_file_t where (file_name,parent_id,is_dir) in(select a.file_name,a.parent_id,a.is_dir from (select file_name,parent_id,is_dir from doc_file_t where id = #{id}) a)
	</delete>
</mapper>